<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9">
                <!-- basically yaha router-outlet isilie lagaya kunki usi page pr rehna bs hame nav bar ke saath waali screen change 
                krni jo content ki jagah profile show krdegi -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
   